{{define "adminSideNav"}}
   <aside class="sidebar">
        <div class="sidebar-header">
            <h3>ADMIN</h3>
        </div>
        <div class="sidebar-menu">
            <a href="/admin" class="menu-item">
                <span class="material-icons">dashboard</span>
                <span>Dashboard</span>
            </a>
            <a href="/admin_members" class="menu-item">
                <span class="material-icons">groups</span>
                <span>Members</span>
            </a>
            <a href="/admin_payments" class="menu-item">
                <span class="material-icons">payments</span>
                <span>Payments</span>
            </a>
            <a href="/admin_documents" class="menu-item">
                <span class="material-icons">description</span>
                <span>Documents</span>
            </a>
            <a href="/admin_report" class="menu-item">
                <span class="material-icons">assessment</span>
                <span>Reports</span>
            </a>
            <a href="/sign_up" class="menu-item">
                <span class="material-icons">assessment</span>
                <span>Register User</span>
            </a>
            <a href="/admin_settings" class="menu-item">
                <span class="material-icons">settings</span>
                <span>Settings</span>
            </a>
        </div>
    </aside>
{{end}}